color@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-image: url(bg.png);
    font-family: 'Poppins', sans-serif;
}
a {
    text-decoration: none;
}
section {
    padding: 50px 0;
}
/* main btn download cv wala */
.main-btn {
    display: inline-block;
    border-radius: 50px;
  
    padding: 10px 27px;
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 2px;
    text-decoration: none;
}
.main-btn:hover {
    background-color: #f7b52c;
    border-color: #f7b52c;
    color: #fff;
}
/* main btn download cv wala */
h1 {
    font-size: 54px;
    line-height: 68px;
    font-weight: 800;
    color: #fff;
    margin-bottom: 20px;
}
h1 span {
    color: #f7b52c;
}
h2 {
    font-size: 50px;
    line-height: 1.3;
    font-weight: 600;
    color: #fff;
    margin-bottom: 15px;
}
h3 {
    margin-bottom: 19px;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}
h6 {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: block;
    margin-bottom: 20px;
}
p {
    color: #c6c9d8bf;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    font-weight: 400;
}
.header_wrapper .navbar-brand img {
    max-width: 120px;
    height: auto;
}
.header_wrapper .nav-item {
    margin: 0 10px;
}
.header_wrapper .nav-item .nav-link {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    display:inline-block;
}
/* underline wala effect */ 
.header_wrapper .nav-item .nav-link::after { 
    position: absolute;
    /* content belnd ke liye */
    content: "";      
    left: 0;
    width: 0;
    height: 2px;
    background: #f7b52c;
    bottom: 0;
}
/* nalink me active ya hover jo bhi phle mile to 100% */
.header_wrapper .nav-item .nav-link.active::after,
.header_wrapper .nav-item .nav-link:hover::after {
    width: 100%;
}
.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover {
    color: #fff;
}
.header-scrolled .nav-item .nav-link.active,
.header-scrolled .nav-item .nav-link:hover {
    color: #f7b52c;
}
/* 3 Banner */
.banner_wrapper {
    width: 100%;
    height: auto;
    min-height: 650px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 200px 0 100px 0;

}
/* 4 About */
/* award , eduction ki border  */
.about_wrapper ul.nav-pills {
    border: 1px solid #fff;
    border-radius: 50px;
}
.about_wrapper ul li .nav-link {
    border-radius: 50px;
    font-size: 15px;
    font-weight: 500;
    /* transition: all 0.45s cubic-bezier(0, 0, 0.2, 1); */
    display: inline-block;
    color:#fff;
    border: 0;
    /* transition: 0.3s; */
}
.about_wrapper ul li .nav-link.active {
    background-color: #f7b52c;
}
#pills-Award-tab:hover{
    background-color: #f7b52c !important;
}
#pills-education-tab:hover{
    background-color: #f7b52c !important;
}
.about_wrapper .tab-pane li {
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: 300;
    list-style: none;
}
.about_wrapper .tab-pane li a {
    font-weight: 500;
    display: block;
    color: #fff;
}
/*  Contact */
.contact_wrapper .call_details{
    color:#fff;
}
.contact_wrapper .call_details a{
    font-weight: 700;
    color:#c6c9d8bf;
}
/* 7 footer */
.footer_wrapper {
    background-color: #1d0036;
    padding: 20px 0;
}
.footer_wrapper .footer-logo img {
    width: 100px;
}
.footer_wrapper .social-icon li {
    margin: 6px;
}
.footer_wrapper .social-icon a {
    width: 35px;
    height: 35px;
    line-height: 30px;
    font-size: 14px;
    display: inline-block;
    border: 2px solid #c6c9d8bf;
    color: #c6c9d8bf;
    text-align: center;
    border-radius: 100%;
}
.footer_wrapper .social-icon a:hover {
    background-color: #f7b52c;
    border-color: #f7b52c;
    color: #c6c9d8bf;    
}
.footer_wrapper .copyright-text p{
    font-size:11px;
    line-height: 20px;
}
.footer_wrapper .copyright-text a {
    color:#f7b52c;
}
